<div class="votes">
  <div class="statistic">
    <div class="value">
      {{ article.votes }}
    </div> 
    <div class="label">
      Points
    </div>
  </div>
</div>
<div class="column">
  <a class="header" href="{{ article.link }}">   <!-- We can use template strings in attribute values -->
    {{ article.title }}
  </a>
  <ul class="voters">
    <li class="item">
      <a href (click)="voteUp()"></a>
        <i class="fa fa-arrow-up">
          upvote
        </i>
    </li>
    <li class="item">
      <a href (click)="voteDown()"></a>
        <i class="fa fa-arrow-down">
          downvote
        </i>
    </li>
  </ul>
</div>
